@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
.ql-toolbar.ql-snow {
  @apply rounded-t-md block w-full py-2 pl-5 pr-10 text-base font-normal text-white placeholder-gray-500 bg-transparent border border-gray-800  focus:border-white focus:ring-white focus:ring-1;
}

.ql-container.ql-snow {
  @apply rounded-b-md min-h-32 block w-full  text-base font-normal text-gray-400 placeholder-gray-500 bg-transparent border border-gray-800  focus:border-white focus:ring-white focus:ring-1;
}


.ant-tabs-nav {
      margin-bottom: 16px !important;
}

.ant-tabs-tab {
      padding: 8px 16px !important;
      margin: 0 4px !important;
      border-radius: 8px !important;
}

.ant-tabs-tab-active {
      background-color: #EEF2FF !important;
}

.ant-tabs-ink-bar {
      display: none !important;
}

.ant-tabs-nav::before {
      border-bottom: none !important;
}




:where(.css-dev-only-do-not-override-p8b6i).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-p8b6i).ant-input-outlined:focus-within {
      border-color: transparent !important;
      box-shadow: transparent !important;
      outline: 0;
      background-color: transparent !important;
}





.scrollbar-hidden {
      overflow: hidden;
}

.scrollbar-auto {
      overflow: auto;
}

.scrollbar-visible {
      overflow: scroll;
}

.scrollbar-auto:hover {
      overflow-y: auto;
}

.scrollbar-auto::-webkit-scrollbar {
      display: none;
}

.scrollbar-auto:hover::-webkit-scrollbar {
      display: block;
}


::-webkit-scrollbar {
      width: 6px;
      height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: #008cb3;
      width: 10px;
      border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #008cb3;
}

/* Custom Select Styles */
.custom-select {
      background-color: black !important;
      color: white !important;
      /* padding: 1rem !important; */
}

.custom-select .ant-select-selector {
      background-color: black !important;
      height: 50px !important;
      border-radius: 0.375rem !important;
      border-color: rgb(31 41 55) !important;
      color: white !important;
}

.custom-select .ant-select-selection-placeholder {
      color: #fbfcff !important;
}

.custom-select .ant-select-selection-item {
      color: white !important;
}

/* Dropdown Styling */
.custom-dropdown {
      background-color: black !important;
      border: 1px solid #a2a7af !important;
      border-color: rgb(31 41 55) !important;
      color: white !important;
      margin-top: 5rem !important;
      border-radius: 0.375rem !important;
}

.custom-dropdown .ant-select-item {
      color: white !important;
}

.custom-dropdown .ant-select-item-option-selected {
      background-color: #1f2937 !important;
      color: white !important;
}
